<!DOCTYPE html>
<html>

<head>

<title>Emitte</title>

<style>

body{
font-family:Arial;
background:#f4f6f9;
text-align:center;
padding-top:100px;
}

.logo{
margin-bottom:20px;
}

button{
padding:15px 30px;
margin:10px;
border:none;
background:#1f3c88;
color:white;
font-size:16px;
cursor:pointer;
}

</style>

</head>

<body>

<img src="/static/logo.png" width="200" class="logo">

<h2>Plataforma inteligente para geração automática de certificados em segundos</h2>

<br>

<a href="/"><button>Acessar plataforma</button></a>

<a href="/guia"><button>Como funciona</button></a>

</body>

</html>
