<!DOCTYPE html>
<html>

<head>
<title>Login</title>

<style>

body{
font-family:Arial;
background:#f4f6f9;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

form{
background:white;
padding:40px;
border-radius:8px;
box-shadow:0 0 10px rgba(0,0,0,0.1);
}

input{
display:block;
margin-bottom:15px;
padding:10px;
width:250px;
}

button{
padding:10px;
width:100%;
background:#1f3c88;
color:white;
border:none;
}

</style>

</head>

<body>

<form method="POST">

<h2>Login</h2>

<input name="email" placeholder="Email">

<input name="password" type="password" placeholder="Senha">

<button>Entrar</button>

</form>

</body>
</html>
