<!DOCTYPE html>
<html>
<head>

<title>Login - Emitte</title>

<style>

body{
margin:0;
font-family:Arial;
background:linear-gradient(135deg,#1f3c88,#4a69bd);
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.box{
background:white;
padding:40px;
border-radius:10px;
width:320px;
text-align:center;
}

input{
width:100%;
padding:12px;
margin:10px 0;
}

button{
width:100%;
padding:12px;
background:#1f3c88;
color:white;
border:none;
}

.logo{
width:140px;
margin-bottom:20px;
}

</style>

</head>

<body>

<div class="box">

<img src="/static/logo.png" class="logo">

<form method="POST">

<input name="usuario" placeholder="Usuário">

<input type="password" name="senha" placeholder="Senha">

<button>Entrar</button>

</form>

</div>

</body>
</html>
